  
  
  </main>
  <footer>    
    <p>Copyright &copy; <span id="year"><%= new Date().getFullYear() %></span> 
    <a href="https://www.linkedin.com/in/henry-northcote-a4912785/" >
        <ion-icon name="logo-linkedin"  ></ion-icon>  
     </a>
     <a href="https://github.com/hnorthcote?tab=repositories"><ion-icon name="logo-github"></ion-icon></a>
</p>
</footer>
  <script>
    M.AutoInit(); </script>

    <script>$(document).ready(function(){
      $('.datepicker').pickerdate({      });
      // $('.parallax').parallax();
    })
 
  </script>

</body>
</html>