<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  

  
<ul>
  <li class="loginout">
    <% if (user) { %>
      <a href="/logout" class="logout"><input type="image"  alt="LogOut" src="https://img.icons8.com/cute-clipart/45/000000/logout-rounded-left.png"></a>
    <% } else { %>
      <a href="/auth/google" ><img src="/web/1x/btn_google_signin_dark_normal_web.png" alt="LogIn"></a>

    <% } %>
    </li>
  </ul>

  <main>
   <div class="container center">
     <h1 class= "frame"><%= title %></h1>
   </div> 