<%- include('./partials/header') %>
    <section class = "">
<div class="intro"><p> To start a new IT project, any organization needs guidance to understand the components needed, the options available and the costs associated.
    One big hurdle is that there is many variables that will change this elements. This website will allow you to have a basic understanding of your project software, hardware and cost, with only 2 main variables:
    Size of the project and the type of market vertical this project is being designed for.</p></div>
<div class = "software">
<h3>SOFTWARE</h3>
<P>The right software is fundamental for the allocation of tasks with in the operation, every type of business requires a different variation of software pakcages.
    With our experience for over 15 years in this realm, we will be able to give you a good basic set of software packages to allow your operations to run smoothly</P></div>

<div class="hardware">
<p>The hardware resources are key in the proper deployment of the software for the users and customers, this hardware needs to allow the scalability that is meant for your operation.
    With the understanding of the intensity of the processes that are required by your operation, we will be able to recommend the right amount of server and clients to run smoothly.</p></div>

<div class="cost">
<p>Cost is possibly the most important part of any project for any operation. With our understanding of the current market prices for licensing and hardware purchasing, we will be able to 
    give you an accurate result of the cost scope of this project to get where you want to go.</p></div>
    </section>
                
<h4>Great! But how do I get all this figured out?
    With this app we will give you the results in seconds by just answering a few questions about your project.
    Please fill in this form to start the process.</h4>

    <h3 class="customer form">Let's get started!!</h3>



<%- include('./partials/footer') %>